{% set currentUrl = page.url %}

<nav aria-labelledby="my-siteid" class="my-sitenav">
  <div class="my-sitenav__container">
    <a id="my-siteid" href="/"
    {% if currentUrl === '/' %}aria-current="page"{% endif %}
    >{{ meta.siteName }}</a>
    <ul role="list" class="my-sitenav__navlist my-list-unstyled">
      {% for link in collections.pages %}
      <li>
        <a
          {% if currentUrl === link.url %}aria-current="page"{% endif %}
          href="{{ link.url }}">
            {{ link.data.title }}
        </a>
      </li>
      {%- endfor %}
    </ul>
</nav>
