@use "sass:math";
@use "theme" as *;

// stylelint-disable-next-line selector-max-id, selector-max-specificity
#my-siteid {
  font-size: $my-h3-font-size;
  text-decoration: none;
}

// stylelint-disable selector-max-type
.my-sitenav {
  background-color: my-color("primary");

  &__container,
  &__navlist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__container {
    justify-content: space-between;
    width: 100%;
    max-width: 120ch;
    margin: 0 auto;
    padding: 0.25rem 0.5rem;
  }

  &__navlist {
    li + li {
      margin-left: 0.5rem;
    }
  }

  &,
  a:not(.my-button) {
    color: my-color("light");
  }

  a:not(.my-button):focus {
    border-radius: math.div($my-border-radius, 2);
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 1px 2px my-color("light");
  }
}
// stylelint-enable
