@use "theme" as *;

$my-typography-variants: h1, h2, h3, h4;

@each $type in $my-typography-variants {
  #{$type},
  .my-#{$type} {
    font-weight: $my-strong-font-weight;
    line-height: 1.15;
    margin-bottom: 0.65em;
  }
}

// As of v0.3.0, `clamp` not well enough supported on mobile browsers for use
// Due to build-in min/max Sass functions, requires `unquote()` to correctly
// render as CSS min/max
h1,
.my-h1 {
  font-size: $my-h1-font-size;
  font-size: unquote("min(max(3rem, 5vw), #{$my-h1-font-size})");
}

h2,
.my-h2 {
  font-size: $my-h2-font-size;
  font-size: unquote("min(max(2.5rem, 5vw), #{$my-h2-font-size})");
}

h3,
.my-h3 {
  font-size: $my-h3-font-size;
}

h4,
.my-h4 {
  font-size: $my-h4-font-size;
  color: my-color("gray");
}

p,
li {
  font-size: $my-text-font-size;
}

p {
  margin: 0 0 1rem;
}

article {
  > ul,
  > ol {
    > li + li {
      margin-top: 1rem;
    }
  }

  * {
    + h2 {
      margin-top: 4rem;
    }

    + h3 {
      margin-top: 2rem;
    }
  }
}

strong {
  font-weight: $my-strong-font-weight;
}

a:not(.my-button) {
  color: $my-link-color;
}

code:not([class*="language"]) {
  display: inline-flex;
  padding: 0.15em;
  background-color: my-color("light");
  color: my-color("gray");
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  border: 1px solid scale-color(my-color("gray"), $lightness: 50%);
  border-radius: 2px;
  font-size: 0.75em;
  line-height: 1.1;
}

pre code:not([class*="language"]) {
  width: 100%;
  max-width: calc(100vw - 2rem);
  overflow-x: auto;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.5rem;
  border-left: 2px solid my-color("secondary");
  color: my-color("gray");

  &,
  p {
    font-size: $my-h4-font-size;
  }

  + * {
    margin-top: 3rem;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.my-lead {
  font-size: $my-lead-font-size;
  letter-spacing: 0.01em;
  margin-bottom: 1em;
  line-height: 1.3;
}

.my-list-unstyled {
  list-style: none;
  padding: 0;
}
