@use "theme" as *;

.my-content-maxlength {
  max-width: 80ch;
}

.my-anchor {
  display: inline-block;
  margin-left: 0.25em;
  transition: 180ms opacity ease-in-out;
  opacity: 0.6;
  font-size: 0.65em;
  vertical-align: top;

  &:hover {
    opacity: 1;
  }
}

$my-alignments: left, center, right !default;

@each $alignment in $my-alignments {
  .my-text-align--#{$alignment} {
    text-align: #{$alignment};

    @if ($alignment == "center") {
      > a {
        align-self: center !important;
      }
    }
  }
}

@each $key in $my-background-colors {
  .my-background--#{$key} {
    background-color: my-color($key);
  }
}

@each $key in $my-ink-colors {
  .my-ink--#{$key},
  a.my-ink--#{$key} {
    color: my-color(#{$key});
  }

  .my-ink--#{$key} > a:not(.my-button) {
    color: inherit;
  }
}

.my-mx-auto {
  margin-right: auto;
  margin-left: auto;
}

@each $key, $unit in $my-spacing {
  .my-my-#{$key} {
    margin-top: $unit;
    margin-bottom: $unit;
  }

  .my-mt-#{$key} {
    margin-top: $unit;
  }
}

.my-mb-none {
  margin-bottom: 0;
}
