---
layout: base.njk
---
{% include 'sitenav.njk' %}

<header class="my-hero">
  <div class="my-container">
    <h1 class="my-ink--primary my-mb-none">{{ title }}</h1>
    <h2 class="my-lead my-content-maxlength my-ink--gray my-mt-md my-mx-auto">
      {{ description }}
    </h2>
  </div>
</header>
<main class="my-container">
  <article class="my-mx-auto">
    {{ content | safe }}
  </article>
</main>
